p{
    color:rgb(231, 138, 138);
    font-family: "IM Fell DW Pica", serif;
}
.titulo{
    color: brown;
    font-family: "IM Fell DW Pica", serif;

}



div {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 15%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    
}

body{
    background-color: #f0dde3;
}