*{
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
 
body{
    background-color: rgb(255, 255, 255);
}

header, footer{
    width: 100%;
    padding: 20px 0px;
    background-color: rgb(35, 35, 255);
    

}
nav{
    float: right;
    margin-right: 20px;
}

header h2{
    color: white;
    margin-left: 80px;
    font-size: 15px;
}

header a{
    color: white;
    text-decoration: none;
    font-size: 10px;
}

#banner{
    width: 80% ;
    height: 200px;
    background-image: url(../images/chapada\ diamantina.jpg);
    margin: 20px auto;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

footer{
    position: absolute;
    bottom: 0%;
}

.textos2{
    color: black;
}

.produto {
 width: 200px;
 padding: 10px;
 color:black;
}

.produto main h1, h2, h3, h4,p{
    color: black;

}

.produto img{
    width: 100%;
}

#maind{
margin: 100px  200px auto;
}
#catalogo{
    display: flex;
}