header{
    background-color: #fac600;
    padding: 20px 0px;
    width: 100%;
    margin: 0%;
    display: flex;
}

*{
    margin: 0%;
    padding: 0%;
}

img{
  width: 3%;
}

#titulo{
   margin-left: 20px;
   margin-top: 4px;
}

#donuts{
  position: absolute;
  background-color: #fac600;
  width: 20px;
  height: 80px;
  

}

#bolo{
    position: absolute;
  background-color: #fac600;
  width: 20px;
  height: 80px;
  padding: 30px 40px;
}

#brownie{
    position: absolute;
  background-color: #fac600;
  width: 20px;
  height: 80px;
  padding: 30px 60px;
    
} */